@using PagedList.Mvc
@model PeriodontalSite1.ViewModel.Appointment.AppointmentsViewModel


<h2>Записи</h2>
@Html.ActionLink("Create", "Create")

<form method="get">
<div class="form-group">
    @Html.LabelFor(m => m.DateStart, new { htmlAttribute = new { @class = "DateStart" } })
    @Html.EditorFor(m => m.DateStart, new { htmlAttribute = new { @class = "DateStart" } })

    <input type="submit" value="Фильтр" class="btn btn-default" />
</div>
</form>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(Model => Model.User)</th>
        <th>@Html.DisplayNameFor(Model => Model.Patient)</th>
        <th>@Html.DisplayNameFor(Model => Model.Appointments.FirstOrDefault().Patient.PhoneNumber)</th>
        <th>@Html.DisplayNameFor(Model => Model.VisitDate)</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Appointments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)   @Html.DisplayFor(modelItem => item.User.LastName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)  @Html.DisplayFor(modelItem => item.Patient.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>

            <td>
                @Html.ActionLink("Edit", $"Edit", new { id = item.AppointmentsId })

                @Html.ActionLink("Delete", $"Delete", new { id = item.AppointmentsId }, new { onclick = "return confirm('Вы уверены?')", @class = "button" })
            </td>
        </tr>
    }
</table>
Страница @(Model.Appointments.PageCount < Model.Appointments.PageNumber ? 0 : Model.Appointments.PageNumber) из @Model.Appointments.PageCount

@Html.PagedListPager(Model.Appointments, page => Url.Action($"Index", new { page }))

<script type="text/javascript">

    $(function () {
        $('#DateStart').datepicker({
            format: "yyyy.mm.dd"

        });
    });
</script>