@using PagedList.Mvc
@model PeriodontalSite1.ViewModel.PriceViewModel

@{
    /**/

    ViewBag.Title = "Цены";
}

<h2>Цены</h2>
@Html.ActionLink("Create", "Create") |
<form method="get">
    <div class="form-group">
        @Html.LabelFor(m => m.DateTimeFilter, new { htmlAttribute = new { @class = "DateTimeFilter" } })
        @Html.EditorFor(m => m.DateTimeFilter, new { htmlAttribute = new { @class = "DateTimeFilter" } })
        <input type="submit" value="Фильтр" class="btn btn-default" />
        @Html.ActionLink("Изменить цены", $"Edit", new { EditFromDate = Model.EditFromDate }, DateTime.Now)
        @Html.LabelFor(m => m.EditFromDate, new { htmlAttribute = new { @class = "datetimepicker" } })
            @Html.EditorFor(Model => Model.EditFromDate, new { htmlAttribute = new { @class = "datetimepicker" }, @class = "form-control" })
        </div>
</form>
<table class="table">
    <tr>
        <th>  @Html.DisplayNameFor(Model => Model.Services.Name)</th>
        <th>@Html.DisplayNameFor(Model => Model.Value)</th>
        <th>@Html.DisplayNameFor(Model => Model.FromDate)</th>
        <th>@Html.DisplayNameFor(Model => Model.ToDate)</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Prices)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price.ToDate)
            </td>

            <td>
                @if (item.Price != null)
                {
                    @Html.ActionLink("Delete", $"Delete", new { id = item.Price.PriceId }, new { onclick = "return confirm('Вы уверены?')", @class = "button" })
                }
                else
                {
                    @Html.ActionLink("Цены на данную услугу нет", $"Create")
                }
            </td>
        </tr>
    }
</table>
Страница @(Model.Prices.PageCount < Model.Prices.PageNumber ? 0 : Model.Prices.PageNumber) из @Model.Prices.PageCount

@Html.PagedListPager(Model.Prices, page => Url.Action($"Index", new { page }))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">

    $(function () {
        $('#DateTimeFilter').datepicker({
            format: "yyyy.mm.dd"
            
        });
    });
    $(function () {
        $('#EditFromDate').datepicker({
            format: "yyyy.mm.dd",
            minDate: new Date()
        });
    });
</script>